* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

footer p {
  color: #fff;
}

.footer-link {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 30px;
  text-decoration: none;
}

.fa-envelope, .fa-linkedin {
  color: #fff;
  margin-left: 1.5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.container h2 {
  margin-bottom: 1.5rem;
}

section {
  margin-bottom: 3rem;
  width: 100%;
  margin: auto;
}

h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  transition: font-size 0.3s ease;
  margin-bottom: 0.5rem;
}

h2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #237DB2;
  transition: width 0.3s ease;
  bottom: -5px;
  left: 0;
}

h2:hover {
  font-size: 2.2rem;
  cursor: pointer;
}

h2:hover::after {
  width: 100%;
}

/* Navigation */
#menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.pseudo {
  color: #fff;
  font-weight: 700;
  margin-left: -15px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #555;
}

/* Présentation */
#presentation {
  background-color: #f2f2f2;
}

#presentation a {
  font-size: 25px;
  font-weight: 500;
}

.pres-size {
  font-size: 25px;
  padding-bottom: 1.5rem;
}


@media (max-width: 768px) {
  #menu h1 {
    display: none;
  }

  .container {
    width: 90%;
  }
  section {
    width: 100%;
    padding: 30px 0;
  }

  .name {
    font-size: 2.5rem;
  }

  .work {
    font-size: 1.2rem;
  }

  .project-card {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }

  .popup {
    width: 90%;
  }

  .competence-picture {
    display: none;
  }

  #competences {
    height: 50vh
  }
}

@media (max-width: 480px) {

  #menu h1 {
    display: none;
  }

  header,
  footer {
    padding: 10px;
  }

  .name {
    font-size: 2rem;
  }

  .work {
    font-size: 1rem;
  }

  #menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-items: center;
  }

  #menu ul li {
    width: 100%;
  }

  #menu ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
  }

  .project-card {
    width: 100%;
    margin-bottom: 15px;
  }

  .modal-content {
    width: 95%;
  }

  .popup {
    width: 95%;
  }

  .progress-bar {
    width: 90%;
  }

  button[type="submit"] {
    width: 200px;
  }

  .competence-picture {
    display: none;
  }
  
}