/* Accueil */
#accueil {
    background: url('../images/slider.jpg');
    height: 80vh;
    background-position: center;
  }

  .container-animation {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
  
  #accueil .name {
    margin-top: 10%;
    padding-bottom: 2rem;
  }
  
  .name {
    font-size: 3rem;
    color: #EEFF5C;
  }
  
  .work {
    font-size: 1.5rem;
    color: #EEFF5C;
  }

  /* Animation de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Masquer par défaut */
  transition: opacity 1s, transform 1s;
}

.fade-in.visible {
  opacity: 1;
  animation: fadeIn 1s forwards;
}